body {
    overflow-x: hidden;
    width: auto !important;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #271F1E;
}

/*Header*/
header {
    background-color: #553726;
    position: fixed;
    top: 0;
    width: 100%;
}


.navbar {
    padding: 3 !important;
    margin: 3 !important;
}

.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.fs-6, .navbar-link {
    font-size: 20px !important;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url(/proyecto-eventos/img/logos/menu.png)
}

/*Main*/

.noticias-img {
    width: 400px;
    height: 350px;
    border: 2px solid #553726;
    border-radius: 20px;
}

.row {
    --bs-gutter-x: 0;
}

h4 {
    font-size: 5em ;
    margin-bottom: 0;
}

.h4-testimonios {    
    padding-bottom: 0;
}


.parrafo-testimonios {
    font-size: 20px;
    letter-spacing: 1px;
}

.container-noticias {
    margin-top: 7rem;
}

/*Footer*/
footer {
    background-color: #553726;
    position: absolute;
    width: 100%;
}