body{
    background-color: #271F1E;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    min-height: 100vh;
}

.dashboard-navegation li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    display: block;
    
    
}

.dashboard-navegation li a:hover{
    color: #FF7F50;
    border: 1px solid #686261;
    background-color: #686261;
    border-radius: 15px;
    
}
.dashboard-navegation{
    list-style: none;
    padding: 0;
}

.aside-nav{
    background-color: #3E3535;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
}

.aside-logo{
    width: 200px;
    display: block;
    margin: 0 auto 20px auto;
}
.aside-nav h3{
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.dashboard-navegation li{
    color: white;
}