body{
    background-color: #271F1E;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    min-height: 100vh;
}

.dashboard-navegation li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 10px 20px;
    display: block;   
}

.dashboard-navegation li a:hover{
    color: #FF7F50;
    border: 1px solid #686261;
    background-color: #686261;
    border-radius: 15px;
}

.dashboard-navegation{
    list-style: none;
    padding: 0;
}

.aside-nav{
    background-color: #3E3535;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.aside-logo{
    width: 200px;
    display: block;
    margin: 0 auto 20px auto;
}
.aside-nav h3{
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.dashboard-navegation li{
    color: rgba(255, 255, 255, 0.493);
    font-size: 18px;
    margin: 10px auto 15px;
}

.search-projects{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

.view-projects{
    padding: 0;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    list-style: none;
    border-left: 1px solid white;
    
}

.view-projects li a{
    text-decoration: none;
    color: white;
}

.view-projects li a:hover{
    color: #FF7F50;
    
}

.search-projects li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.521);
    font-size: 25px;
}

.search-projects li a:hover{
    color: #FF7F50;
    
}

.dashboard-left{
    margin-left: 250px;
    padding: 20px;
    box-sizing: border-box;

}


.dashboard-left img{
    height: 50px;
    width: auto;
    margin: 0 5px
    
}

.dashboard-left img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.dashboard-left h3{
    color: #3E3535;
    font-size: 25px; 
    margin: 0;
}
.dashboard-left a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.dashboard-left li{
    display: flex; 
    align-items: center;
    margin-right: 15px;
}

.dashboard-left ul{
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center; 
    list-style: none
}

.nav-bartop {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 30px; 
    margin-left: 30px; 
}


.dashboard-left img {
    height: 30px; 
    width: auto;
    margin: 0 5px;
}


.nav-baright{
    display: flex;
    align-items: center; 
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav-baright img{
    height: 30px; 
    width: auto;
    border-radius: 50%;
}
.nav-baright li{
    margin-left: 25px;
    list-style: none;
}

.search-button {
    display: flex; 
    align-items: center;
    background-color: #3E3535; 
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: default; 
}
.search-button img {
    height: 40px; 
    margin-right: 10px;
}
.search-button input {

    background: none; 
    border: none; 
    color: white;
    padding: 0;
    outline: none;
    font-family: inherit;
    font-size: 16px;
    width: 150px; 
}

hr{
    border: 3px solid #686261;
    border-radius: 8px;
}
hr:hover{
    border: 1px solid #FF7F50;
}

li h3{
    color: white;
    font-size: 25px;
}

.dashboard-left img{
    height: 45px;
    width: auto;
}

/*menu*/

main {
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
}

/*En movil pasar toda la info para abajo*/
@media (max-width: 991.98px) {
      .aside-nav {
        position: static;
        width: 100%;
        height: auto;
      }
      main {
        margin-left: 0 !important;
      }
}

.col-vistas, .card-dashboard{
    background-color: #E9CAB7;
}

.img-users {
    max-height: 380px; 
    width: auto;
}

.img-dispositivos {
    max-width: 100%; 
    height: auto;
}

.img-ubicacion{
    max-width: 320px;
}
                           