body{
    background-color: #271F1E;
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    min-height: 100vh;
}

.dashboard-navegation li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding: 10px 20px;
    display: block;
    
    
}

.dashboard-navegation li a:hover{
    color: #FF7F50;
    border: 1px solid #686261;
    background-color: #686261;
    border-radius: 15px;
    
}
.dashboard-navegation{
    list-style: none;
    padding: 0;
}
